#header {
    height: 50px;
    background: linear-gradient(90deg, #00b4d8 0%, #48cae4 45%, #90e0ef 100%);
    color: black;  
}

#branding h1 {
    color: black;
    font-weight: 700;
}

.brand_img {
    width: 40px;
    height: 40px;
}

.user-tools {
    font-weight: 700;
}

#header a:link,
#header a:visited {
    color: black;
    font-weight: 700;
}

div.breadcrumbs {
    background: linear-gradient(90deg, #012a4a 0%, #013a63 45%, #013a63 100%);
    color: #fff;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #012a4a;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #012a4a;
}