:root {
  --clr-primary: #45a3ef;
  --clr-secondary: #faa307;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

main {
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
}

.business-info-container {
  background: linear-gradient(90deg, #0061A6 0%, #0081CA 45%, #45a3ef 100%);
  /* background: linear-gradient(90deg, #012a4a 0%, #013a63 45%, #013a63 100%); */
}

.logo-image {
  height: 15rem;
}

.button {
  position: relative;
  z-index: 1;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-secondary);
  z-index: -1;
  transition: transform 250ms ease-in;
}

.see-products-btn,
.see-categories-btn {
  background-color: #ffba08;
}

.see-products-btn::after,
.see-categories-btn::after {
  transform: scalex(0);
  transform-origin: right;
}

.see-products-btn:hover::after,
.see-categories-btn:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.products-container {
  background-color: #eee;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.blue-line-container {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -50px;
  z-index: -1;
  background-color: #eee;
  margin: 0;
}

.blue-line-thin {
  width: 100%;
  height: 0.5rem;
  background-color: var(--clr-primary);
}

.blue-line-thick {
  width: 100%;
  height: 1rem;
  background-color: var(--clr-primary);
  margin: 10px 0px;
}

.categories-bg {
  /* background-color: #012a4a; */
  /* background: linear-gradient(90deg, #012a4a 0%, #013a63 45%, #013a63 100%); */
  background: linear-gradient(90deg, #0061A6 0%, #0081CA 45%, #45a3ef 100%);
}

.category-title {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.category-title::after {
  content: '';
  position: absolute;
  top: -0.25rem;
  left: -1rem;;
  bottom: -0.25rem;
  width: calc(100% + 2rem);
  background: var(--clr-primary);
  z-index: -1;
  transform: scaleX(0.01);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.category-card:hover .category-title::after {
  transform: scaleX(1);
}

.title-line {
  height: 2px;
  background: #00b4d8;
}

.carousel-item {
  height: 32rem;
  background: rgb(205, 205, 205);
  position: relative;
}

.overlay-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}

.card-img-container {
  height: 15rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  .logo-image {
    height: 20rem;
  }
  .tooth-img {
    width: 100%;
  }
  .categories {
    margin: 100px 0px;
  }
  footer {
    background-size: 10%;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3em;
  }
  .tooth-img {
    height: 75%;
  }
  h2 {
    font-size: 2.2em;
  }
  iframe {
    height: 300px;
  }
  footer {
    background-size: 8%;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    /* font-family: "Lobster", cursive; */
    font-size: 4em;
  }
  .logo-image {
    height: 25rem;
  }
  .tooth-img {
    height: 75%;
  }
  .card-img-container {
    height: 18rem;
  }
  /* .categories-container {
    padding: 0px 60px;
  } */
  iframe {
    height: 350px;
  }
  footer {
    background-size: 6%;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 6em;
  }
  .logo-image {
    height: 35rem;
  }
  .tooth-img {
    height: 75%;
  }
  .card-img-container {
    height: 18rem;
  }
  /* .categories-container {
    padding: 0px 60px;
  } */
  iframe {
    height: 350px;
  }
  footer {
    background-size: 6%;
  }
}

/* CARRUSEL MULTI ITEMS */
.slick-prev,
.slick-next {
  /* position: absolute!important;
  left: 30%!important;
  top: 0%!important; */
  /* margin: 0px auto!important; */
  width: 50px!important;
  height: 50px!important;
  position: static!important;
  /* transform: translateY(-50%)!important; */
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px!important;
  color: white!important;
}

.slick-dots li button {
  color: white!important;
}

.nav-arrows {
  position: relative;
  /* height: 5rem; */
}

.slick-slide {
  height: 22rem!important;
}

.card-category {
  width: 280px;
  height: 22rem;
  border-radius: 15px;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  /* box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); */
}

.card-category:hover {
  transform: translateY(20px);
}

.card-category:hover::before {
  opacity: 1;
}

.card-category:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card-category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card-category img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card-category .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card-category .info h1 {
  margin: 0px;
}

.card-category .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

.card-category .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

/* Animations */
.anim {
  opacity: 0;
}

@keyframes anim1 {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to  {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Hover effect buttons */
.hover-button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
/* .hover-button.type1 {
  color: #566473;
} */
.hover-button.type1.type1::after, .hover-button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.hover-button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--clr-secondary);
  border-right-color: var(--clr-secondary);
}
.hover-button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--clr-secondary);
  border-left-color: var(--clr-secondary);
}
.hover-button.type1.type1:hover:after, .hover-button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}