
.logo-image {
  height: 75%;
}

.main-title {
  color: var(--clr-secondary);
}

.primary-background {
  background: linear-gradient(90deg, #0061A6 0%, #0081CA 45%, #45A3EF 100%);
}

.secondary-background {
  background-color: rgb(233, 233, 233);
}

/* Primary button */
.primary-button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: 1em 0.8em;
}

.primary-button::after, 
.primary-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.primary-button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--clr-secondary);
  border-right-color: var(--clr-secondary);
}

.primary-button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--clr-secondary);
  border-left-color: var(--clr-secondary);
}

.primary-button:hover:after, 
.primary-button:hover:before {
  width: 100%;
  height: 100%;
}

/* Products carousel */
.carousel-item {
  min-height: 28rem;
  background: rgb(205, 205, 205);
  position: relative;
}

.overlay-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
}

.carousel-control-prev-icon {
  color: #000;
}

/* Buttons effect */
.button {
  position: relative;
  z-index: 1;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-accent);
  z-index: -1;
  transition: transform 250ms ease-in;
}

.details-button {
  background-color: var(--clr-secondary);
}

.details-button::after {
  transform: scalex(0);
  transform-origin: right;
}

.details-button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Categories carousel */
.category-title {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.category-title::after {
  content: '';
  position: absolute;
  top: -0.25rem;
  left: -1rem;;
  bottom: -0.25rem;
  width: calc(100% + 2rem);
  background: var(--clr-accent);
  z-index: -1;
  transform: scaleX(0.01);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.card-category:hover .category-title::after {
  transform: scaleX(1);
}

.card-category {
  width: 28rem;
  border-radius: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  /* box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); */
}

.card-category:hover {
  transform: translateY(1.25rem);
}

.card-category:hover::before {
  opacity: 1;
}

.card-category:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card-category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(58, 58, 58, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card-category img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card-category .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card-category .info h1 {
  margin: 0px;
}

.card-category .info p {
  letter-spacing: 1px;
  /* font-size: 1rem; */
  margin-top: 8px;
}

.card-category .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.slick-container {
  position: relative;
  padding-bottom: 8rem;
}

.slick-container .col {
  position: absolute;
  bottom: 6rem;
  left: 0;
}

.slick-container .next {
  position: absolute;
  right: 1.8rem;
  color: var(--clr-accent);
  font-size: 3rem;
  cursor: pointer;
}

.slick-container .prev {
  position: absolute;
  left: 1.8rem;
  color: var(--clr-accent);
  font-size: 3rem;
  cursor: pointer;
}

.slick-slide {
  height: 25rem!important;
}

.dots .slick-dots {
  left: 0;
  margin: 0 auto;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .logo-image {
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  iframe {
    height: 18rem;
  }
  .slick-slide {
    height: 20rem!important;
  }
}

@media screen and (min-width: 1400px) {
  iframe {
    height: 22rem;
  }
  .slick-slide {
    height: 22rem!important;
  }
}

@media screen and (min-width: 2600px) {
  iframe {
    height: 23rem;
  }
  .slick-slide {
    height: 23rem!important;
  }
}

/* Animations */
.anim {
  opacity: 0;
}

@keyframes anim1 {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to  {
    transform: translateY(0);
    opacity: 1;
  }
}