/* :root {
  --clr-primary: #012a4a;
} */

.navbar-container {
  background: #e3f2fd;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

main {
  overflow-x: hidden;
}

h1 {
  /* font-family: "Lobster", cursive; */
  /* font-size: 3em; */
  /* color: #03045e; */
  font-size: 2em;
}

.business-info-container {
  /* background: linear-gradient(90deg, #00b4d8 0%, #48cae4 45%, #90e0ef 100%); */
  background: linear-gradient(90deg, #012a4a 0%, #013a63 45%, #013a63 100%);
}

.button {
  position: relative;
  z-index: 1;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b4d8;
  z-index: -1;
  transition: transform 250ms ease-in;
}

.see-products-btn,
.see-categories-btn {
  background-color: #90e0ef;
}

.see-products-btn::after,
.see-categories-btn::after {
  transform: scalex(0);
  transform-origin: right;
}

.see-products-btn:hover::after,
.see-categories-btn:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.products-container {
  background-color: #eee;
}

.categories-bg {
  /* background-color: #012a4a; */
  background: linear-gradient(90deg, #012a4a 0%, #013a63 45%, #013a63 100%);
}

.category-title {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.category-title::after {
  content: '';
  position: absolute;
  top: -0.25rem;
  left: -1rem;;
  bottom: -0.25rem;
  width: calc(100% + 2rem);
  background: #00b4d8;
  z-index: -1;
  transform: scaleX(0.01);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.category-card:hover .category-title::after {
  transform: scaleX(1);
}

.subtitle h2 {
  padding-bottom: 10px;
  border-bottom: 3px solid #00b4d8;
}

ul {
  list-style: none;
}

.tooth-img {
  width: 200%;
  /* border-radius: 50%; */
}

.title-line {
  height: 2px;
  background: #00b4d8;
}

.carousel-item {
  height: 32rem;
  background: rgb(205, 205, 205);
  position: relative;
}

.overlay-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

/* .slide-1 {
  background-image: url(/static/img/medical-equipment-01.jpg);
}

.slide-2 {
  background-image: url(/static/img/medical-equipment-02.jpg);
}

.slide-3 {
  background-image: url(/static/img/medical-equipment-03.jpg);
}

.slide-4 {
  background-image: url(/static/img/medical-equipment-04.jpg);
} */

.card-img-container {
  height: 15rem;
}

footer {
  padding: 30px 20px;
  background-color: #012a4a;
  background-image: url(/static/img/tooth-color.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center;
}

footer li {
  margin: 0 6px;
}

footer img {
  width: 30px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  .tooth-img {
    width: 100%;
  }
  .categories {
    margin: 100px 0px;
  }
  footer {
    background-size: 10%;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    /* font-family: "Lobster", cursive; */
    font-size: 3em;
  }
  .tooth-img {
    height: 75%;
  }
  h2 {
    font-size: 2.2em;
  }
  iframe {
    height: 300px;
  }
  footer {
    background-size: 8%;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    /* font-family: "Lobster", cursive; */
    font-size: 4em;
  }
  .tooth-img {
    height: 75%;
  }
  .card-img-container {
    height: 18rem;
  }
  /* .categories-container {
    padding: 0px 60px;
  } */
  iframe {
    height: 350px;
  }
  footer {
    background-size: 6%;
  }
}

/* CARRUSEL MULTI ITEMS */
.slick-prev,
.slick-next {
  /* position: absolute!important;
  left: 30%!important;
  top: 0%!important; */
  /* margin: 0px auto!important; */
  width: 50px!important;
  height: 50px!important;
  position: static!important;
  /* transform: translateY(-50%)!important; */
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px!important;
  color: white!important;
}

.slick-dots li button {
  color: white!important;
}

.nav-arrows {
  position: relative;
  /* height: 5rem; */
}

.slick-slide {
  height: 22rem!important;
}

.card-category {
  width: 280px;
  height: 22rem;
  border-radius: 15px;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  /* box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); */
}

.card-category:hover {
  transform: translateY(20px);
}

.card-category:hover::before {
  opacity: 1;
}

.card-category:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card-category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card-category img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card-category .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card-category .info h1 {
  margin: 0px;
}

.card-category .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

.card-category .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}