
:root {
    /* Colors */
    --clr-light-01: #0096c7;
    --clr-light-02: #45a3ef;
    --clr-light-03: #90e0ef;

    --clr-dark-01: #03045e;
    --clr-dark-02: #023e8a;
    --clr-dark-03: #0077b6;

    --clr-secondary: #ffba08;
    --clr-accent: #d00000;

    /* Background colors */
    --bck-primary: #caf0f8;
    --bck-secondary: #ade8f4;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    background: linear-gradient(90deg, #0061A6 0%, #0081CA 45%, #45a3ef 100%);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

input.form-control {
    font-size: 1.6rem;
}

.btn {
    font-size: 1.6rem;
    padding: 0.7em;
}

/* Navbar */

.brand-img {
    width: 5rem;
    height: 5rem;
}

.sticky-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 2rem;
    z-index: 1;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-color: var(--clr-dark-02);
}

.navbar-toggler {
    border: none;
    padding: 1rem 0.6rem;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 2.2rem;
    height: 0.2rem;
    border: 0.1rem;
    background: #fff;
}

.navbar-toggler span + span {
    margin-top: 4px;
    width: 22px;
}

.navbar-toggler span + span + span {
    width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
    padding: 1.4rem 1rem;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--clr-secondary);
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: var(--clr-accent);
}

.btn-search {
    background-color: var(--clr-secondary);
    color: #000;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1em 1.5em;
}

.btn-search:hover {
    background-color: var(--clr-accent);
    color: #fff;
}

ul {
    list-style: none;
}

ul.dropdown-menu {
    font-size: 1.6rem;
}

/* Footer */

footer {
    padding: 3rem 2rem;
    background: var(--clr-dark-02);
    background-image: url(/static/img/tooth-color.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
footer li {
margin: 0 0.6rem;
}

footer img {
width: 3rem;
}

/* Media queries */

@media screen and (min-width: 768px) {
    footer {
        background-size: 10%;
    }
}
  
@media screen and (min-width: 992px) {
    footer {
        background-size: 8%;
    }
}
  
@media screen and (min-width: 1200px) {
    footer {
        background-size: 6%;
    }
}
  
@media screen and (min-width: 1400px) {
    footer {
        background-size: 6%;
    }
}