@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    /* Colors */
    --clr-primary: #45a3ef;
    --clr-secondary: #005ca1;
    --clr-accent: #00215b;

    /* Time */
    --time: 0.707s;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

.main-title {
    color: var(--clr-secondary);
}
  
.primary-background {
    background: linear-gradient(90deg, #0061A6 0%, #0081CA 45%, #45A3EF 100%);
}
  
.secondary-background {
    background-color: rgb(233, 233, 233);
}

/* Navbar */
.brand-img {
    width: 3.125rem;
    height: 3.125rem;
}

.sticky-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 2rem 0rem;
    z-index: 1;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
}

.navbar-toggler {
    border: none;
    padding: 1rem 0.6rem;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 2.2rem;
    height: 0.2rem;
    border: 0.1rem;
    background: #000;
}

.navbar-toggler span + span {
    margin-top: 0.25rem;
    width: 1.8rem;
}

.navbar-toggler span + span + span {
    width: 1.4rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #000;
    font-weight: 700;
    padding: 1.4rem 1rem;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--clr-secondary);
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: var(--clr-secondary);
}

.btn-search {
    background-color: var(--clr-secondary);
    color: #fff;
    border-radius: 0.25rem;
    padding: 1em 1.5em;
}

.btn-search:hover {
    background-color: var(--clr-accent);
    color: #fff;
}

ul {
    list-style: none;
}

/* Buttons effect */
.button {
    position: relative;
    z-index: 1;
  }
  
.button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-accent);
    z-index: -1;
    transition: transform 250ms ease-in;
}

.details-button {
    background-color: var(--clr-secondary);
}

.details-button::after {
    transform: scalex(0);
    transform-origin: right;
}

.details-button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Footer */
footer {
    padding: 3rem 0rem;
    background: var(--clr-primary);
    background-image: url(/static/img/tooth-color.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center center;
}
  
footer li {
    margin: 0 0.6rem;
}

footer img {
    width: 3rem;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr-secondary);
}

/* Media queries */
@media screen and (min-width: 768px) {
    /* html {
        font-size: 18px;
    } */
    footer {
        background-size: 10%;
    }
}
  
@media screen and (min-width: 992px) {
    /* html {
        font-size: 16px;
    } */
    footer {
        background-size: 8%;
    }
}
  
@media screen and (min-width: 1200px) {
    footer {
        background-size: 6%;
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 18px;
    }
    footer {
        background-size: 5%;
    }
}

@media screen and (min-width: 2600px) {
    html {
        font-size: 22px;
    }
    footer {
        background-size: 3%;
    }
}