.breadcrumb-item a {
    color: #6c757d;
}

.breadcrumb-item.active {
    color: var(--clr-secondary);
}

.fa-bars {
    color: #fff;
}

.img-container {
    height: 18rem;
}

/* Filter navbar */
.filter-navbar {
    background: var(--clr-accent);
    border-radius: 0.25rem;
}

.filter-navbar .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
    padding: 1rem 1.5rem;
    position: relative;
}

.filter-navbar .navbar-nav .nav-link:hover {
    color: var(--clr-primary);
}

.filter-navbar .navbar-nav .nav-link.active {
    color: var(--clr-primary);
}

