.breadcrumb-item a {
    color: #6c757d;
}

.breadcrumb-item.active,
.breadcrumb-item a.active {
    color: var(--clr-secondary);
}

.fa-bars {
    color: #fff;
}

/* Filter navbar */
.filter-navbar {
    background: var(--clr-accent);
    border-radius: 0.25rem;
}

.filter-navbar .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
    padding: 1rem 1.5rem;
    position: relative;
}

.filter-navbar .navbar-nav .nav-link:hover {
    color: var(--clr-primary);
}

.filter-navbar .navbar-nav .nav-link.active {
    color: var(--clr-primary);
}

/* Product cards */
.product-card {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.product-card img {
    height: 20rem;
}

.variant-container {
    max-height: 10rem; 
    overflow-y: auto;
}

.variant-container ul {
    list-style-type: disc;
}

@media screen and (min-width: 576px) {
    .product-card img {
        height: 16rem;
    }
}

@media screen and (min-width: 768px) {
    .product-card img {
        height: 12rem;
    }
}

@media screen and (min-width: 992px) {
    .product-card img {
        height: 18rem;
    }
}

@media screen and (min-width: 1200px) {
    .product-card img {
        height: 20rem;
    }
}

@media screen and (min-width: 1400px) {
    .product-card img {
        height: 14rem;
    }
}