{% extends 'base.html'%}
{% load static %}

{% block title %}

<title>Productos Dentales y Equipos Médicos</title>

{% endblock title %}

{% block extrastyle %}
<!-- Slick CSS -->
<!-- <link rel="stylesheet" href="{% static 'slick/slick.css' %}" type="text/css"> -->
<!-- <link href="http://kenwheeler.github.io/slick/slick/slick.css" rel="stylesheet"/> -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}" type="text/css"> -->
<!-- <link href="http://kenwheeler.github.io/slick/slick/slick-theme.css" rel="stylesheet"/> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
{% endblock extrastyle %}

{% block content %}

<main>    
    <!-- Business info -->
    <div class="container-fluid business-info-container d-flex justify-content-center">
        <!-- Title and image -->
        <div class="row p-3 d-md-flex align-items-md-center">
            <div class="col-12 col-md-5 col-lg-6">
                <h1 class="fw-bold text-center text-white">
                    Depósito de Productos Dentales y Equipos Médicos
                </h1>
                <div class="row d-md-flex justify-content-md-center p-3">
                    <div class="col-12">
                        <div class="card see-products-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 fw-bold">
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Deserunt non illo odio excepturi id nobis architecto
                                            nihil, a ipsam eligendi!
                                        </p>
                                        <button class="btn btn-lg button see-products-btn fw-bold w-100">
                                            Cartera de productos
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-6">
                <img src="{% static 'img/dark-cover.jpg' %}" class="h-100 w-100" alt="" />
            </div>
        </div>
        <!-- Ends title and image -->
    </div>
    <!-- Ends business info -->
    
    <!-- Products Carousel -->
    <div class="container-fluid products-container">
        <div class="row d-flex justify-content-center pt-3">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-center">
                <h2 class="fw-bold">Productos Destacados</h2>
            </div>
        </div>
        <div class="row d-md-flex justify-content-md-center pb-md-3">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-5">
                <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="carousel"
                >
                    <!-- <ol class="carousel-indicators">
                        <li
                        data-target="#carouselExampleIndicators"
                        data-slide-to="0"
                        class="active"
                        ></li>
                        <li
                        data-target="#carouselExampleIndicators"
                        data-slide-to="1"
                        ></li>
                        <li
                        data-target="#carouselExampleIndicators"
                        data-slide-to="2"
                        ></li>
                    </ol> -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="overlay-image slide-1"></div>
                            <div class="carousel-caption d-block">
                                <h3 class="text-dark fw-bold">Equipo Médico 01</h3>
                                <p class="text-dark">
                                Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Fuga, magni!
                                </p>
                                <button class="btn btn-color button see-products-btn fw-bold">Ver más</button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="overlay-image slide-2"></div>
                            <div class="carousel-caption d-block">
                                <h3 class="text-dark fw-bold">Equipo Médico 02</h3>
                                <p class="text-dark">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Ea, dicta.
                                </p>
                                <button class="btn button see-products-btn fw-bold">Ver más</button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="overlay-image slide-3"></div>
                            <div class="carousel-caption d-block">
                                <h3 class="text-dark fw-bold">Equipo Médico 03</h3>
                                <p class="text-dark">
                                Lorem, ipsum dolor sit amet consectetur adipisicing
                                elit. Reiciendis, eos.
                                </p>
                                <button class="btn btn-color button see-products-btn fw-bold">Ver más</button>
                            </div>
                        </div>
                    </div>
                    <a
                        href="#carouselExampleIndicators"
                        class="carousel-control-prev"
                        role="button"
                        data-bs-slide="prev"
                    >
                        <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a
                        href="#carouselExampleIndicators"
                        class="carousel-control-next"
                        role="button"
                        data-bs-slide="next"
                    >
                        <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Ends products carousel -->

    <!-- Categories -->
    <div class="container-fluid categories-bg categories-container">
        <div class="row d-flex justify-content-center pt-3">
            <div class="col-6 col-md-10 col-lg-8 col-xl-7 text-center">
                <h2 class="my-0 fw-bold text-white">Categorías</h2>
            </div>
        </div>
     
        <!-- Cards -->
        <div class="row py-3 px-lg-5 slider">
            {% if object_list %}
                {% for i in object_list %}
                <div class="card-category p-5 mx-1">
                    <img src="{{ i.photo_main.url }}"/>
                    <div class="info">
                        <h3 class="fw-bold">{{ i.category }}</h3>
                        <p>{{ i.description }}</p>
                        <button class="button see-products-btn">Ver más</button>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="row">
                <div class="col-12">
                    <h1>No hay nada que mostrar por el momento, vuelva más tarde...</h1>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- Ends cards -->

        <div class="row">
            <div class="col-12 nav-arrows d-flex justify-content-between">
            </div>
        </div>

    </div>
    <!-- Ends categories -->

    <!-- Address -->
    <div class="container-fluid products-container">
        <div class="row d-flex justify-content-center pt-3">
            <div class="col-6 text-center">
                <h2 class="my-0 fw-bold">¿Dónde nos encuentras?</h2>
            </div>
        </div>
        <div class="row py-3 d-lg-flex justify-content-lg-center">
            <div class="col-6 col-lg-4 px-md-5">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.321370775378!2d-99.61408818405212!3d19.18116085364066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd8c49e0651a11%3A0x526d75b5e1da56ae!2sLife%20Style%20Villas%20Del%20Campo!5e0!3m2!1sen!2smx!4v1615105379594!5m2!1sen!2smx"
                loading="lazy"
                class="w-100"
                height="200"
                ></iframe>
            </div>
            <div class="col-6 col-lg-4 d-flex flex-column justify-content-center px-md-5">
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-muted">Teléfono</p>
                <p class="text-muted">Correo</p>
            </div>
        </div>
    </div>
    <!-- End Address -->

</main>

{% endblock content %}

{% block extrajs %}
<!-- Slick JS -->
<!-- <script src="{% static 'slick/slick.min.js' %}"></script> -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script> -->


<!-- Custom JS -->
<script src="{% static 'js/home.js' %}"></script>
{% endblock extrajs %}
