{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Cartera Productos</title>
{% endblock title %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock extrastyle %}

{% block content %}
<main class="secondary-background">
    <!-- Breadcrumb -->
    <div class="container p-0">
        <div class="row p-3">
            <div class="col">
                <div class="card">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb px-3 pt-3">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                            {% if category_filter %}
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">Productos</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ category_filter|first }}</li>
                            {% else %}
                            <li class="breadcrumb-item active" aria-current="page">Productos</li>
                            {% endif %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Ends breadcrumb -->

    <!-- Filter panel and products -->
    <div class="container py-3 px-0">
        <div class="row p-3 align-items-center">
            <div class="col-12">
                <nav class="navbar filter-navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand text-white" data-bs-toggle="collapse" href="#categories-content" role="button" aria-expanded="false" aria-controls="categories-content">
                            Categorías
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#categories-content" aria-controls="categories-content" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="categories-content">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                {% for category in categories_list %}
                                <li class="nav-item">
                                    <a class="nav-link" href="?category={{ category.id }}">{{ category.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                      </div>
                    </div>
                </nav>
            </div>
            <div class="col-12 mt-3">
                <form class="d-flex" method="GET" action="{% url 'products' %}">
                    <input class="form-control me-2" type="search" placeholder="e.j. cepillo de dientes" aria-label="Search" id="kword" name="kword">
                    <button class="btn btn-search" type="submit">Buscar</button>
                </form>
            </div>
            <div class="col-12 mt-4">
                <div class="card products-card">
                    <div class="row">
                        {% if products_list %}
                            {% for product in products_list %}
                            <div class="col-12 col-md-6 col-xxl-4 my-3">
                                <div class="wrapper">
                                    <div class="flipping-card">
                                        <input type="checkbox" id="card{{ forloop.counter0 }}" class="more" aria-hidden="true">
                                        <div class="content">
                                            <div class="front">
                                                <div class="row h-100 w-100 m-0">
                                                    <div class="col-12 p-0 w-100 img-container">
                                                            <img src="{{ product.photo_main.url }}" class="w-100 h-100" alt="">
                                                    </div>
                                                    <div class="col-12 p-3 title-container d-flex flex-column justify-content-between">
                                                        <h2 class="fw-bold main-title">{{ product.name }}</h2>
                                                        <label for="card{{ forloop.counter0 }}" aria-hidden="true" class="btn text-white button details-button w-50 w-lg-100">
                                                            Ver detalle
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="inner">
                                                    <div class="description">
                                                        <p>{{ product.description }}</p>
                                                        <ul>
                                                            {% for variant in variants_list %}
                                                                {% if variant.product.id == product.id %}
                                                                <li>{{ variant.value }}</li>
                                                                {% endif%}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="location fw-bold main-title">{{ product.name }}</div>
                                                    <label for="card{{ forloop.counter0 }}" class="button-flipping-card return" aria-hidden="true">
                                                        <i class="fas fa-arrow-left"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="col">
                            <h2>No se han encontrado resultados.</h2>
                            <p>Intente con otros parámetros de búsqueda.</p>
                        </div>
                        {% endif %}
                    </div>

                    <!-- Pagination -->
                    {% if is_paginated %}
                    <div class="row pb-3 px-3">
                        <div class="col-12 d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                
                                    {% for page in paginator.page_range %}
                
                                    {% ifequal page page_obj.number %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                    {% endifequal %}
                
                                    {% endfor %}
                
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Ends pagination -->
                </div>
            </div>
        </div>
    </div>
    <!-- Ends filter panel and products -->
</main>

{% endblock content %}